TestAppMVC/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestAppWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestAppWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfGameTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameTable" nillable="true" type="tns:GameTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameTable" nillable="true" type="tns:ArrayOfGameTable" />
  <xs:complexType name="GameTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameTable" nillable="true" type="tns:GameTable" />
</xs:schema>